/* ===== BODY ==== */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background: linear-gradient(90deg, #0a1e26, #000000);
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 120px;
    background: rgba(0, 0, 0, 0.7);
}

/* LOGO */
.logo {
    height: 100px;
    object-fit: contain;
}


/* ===== CONTENEDOR ===== */
#peliculas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}

/* ===== CARD ===== */
.pelicula-card {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;

    transition: 0.3s ease;
}

/* ===== IMG ===== */
.pelicula-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.3s ease;
}

/* ===== OVERLAY ===== */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;

    background: rgba(0, 0, 0, 0.7);

    opacity: 1;
}

/* ===== TEXTOS ===== */
.titulo {
    font-size: 1rem;
    font-weight: bold;
}

.director,
.descripcion {
    font-size: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
}

/* ===== TABLET ===== */
@media (min-width: 600px) {
    #peliculas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pelicula-card {
        width: 45%;
        height: 280px;
    }
}

/* ===== DESKTOP ===== */
@media (min-width: 1024px) {
    .pelicula-card {
        width: 220px;
        height: 320px;
    }

    .overlay {
        opacity: 0;
        transition: 0.3s ease;
    }

    .pelicula-card:hover {
        transform: scale(1.1);
        z-index: 5;
    }

    .pelicula-card:hover img {
        transform: scale(1.1);
    }

    .pelicula-card:hover .overlay {
        opacity: 1;
    }
}